html {
    background-color: #2F2F2F;
}

body {
    height: 100%;
    background-color: #272727;
    margin: 0px;
}

#header {
    margin-left: 20%;
    top: 0px;
    left: 0px;
    width: 80%;
    height: 100px;
    position: fixed;
    font-family: 'bgMed', arial, helvetica, sans-serif;
    font-size: 0.6em;
    color: #fff;
    z-index: 15;
    text-transform: uppercase;
    text-align: center;
    display: table;
}

#header div {
    display: table-cell;
    vertical-align: middle;
}

#footer {
    margin-left: 20%;
    left: 0px;
    bottom: 0px;
    width: 80%;
    height: 100px;
    position: fixed;
    font-family: 'bgMed', arial, helvetica, sans-serif;
    font-size: 0.6em;
    color: #fff;
    z-index: 15;
    text-transform: uppercase;
    text-align: center;
    display: table;
}

#footer div {
    display: table-cell;
    vertical-align: middle;
}

#sidemenu {
    display: block;
    position: absolute;
    height: auto;
    width: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    overflow: auto;
    z-index: 20;
    margin-right: 80%;
    padding: 10px;
}

#sidemenu #menu {
    padding: 0px;
    color: #fff;
    text-align: left;
    list-style-type: none;
    float: left;
}
#sidemenu #menu.home li.home,
#sidemenu #menu.first li.first,
#sidemenu #menu.second li.second,
#sidemenu #menu.third li.third,
#sidemenu #menu.forth li.forth,
#sidemenu #menu.fifth li.fifth,
#sidemenu #menu.sixth li.sixth {
    background-color: #635555;
    border-left: 5px solid hsl(180, 70%, 55%);
}

#sidemenu #menu li {
    width: 150px;
    height: 35px;
    font-size: 15px;
    padding-left: 5px;
    border-left: 5px solid hsl(180, 10%, 55%);
    margin-bottom: 5px;
}

#sidemenu #menu li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

#sidemenu #menu li:active {
    background-color: #635555;
    border-left: 5px solid hsl(180, 70%, 55%);
}

#sidemenu #menu li:hover {
    background-color: #635555;
    border-left: 5px solid hsl(180, 70%, 55%);
}


.logo {
    float: left;
    width: 100%;
    height: auto;
}

#site-content {
    z-index: 20;
    display: block;
    position: absolute;
    height: auto;
    width: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 10px;
    margin-left: 20%;
    overflow: auto;
    padding: 10px;
    background-color: rgb(245, 245, 245);

}